buildah-config: created and created-by confusion

The [OCI Spec v1.0.1](https://github.com/opencontainers/image-spec/blob/v1.0.1/config.md#properties) suggests that neither `--created` nor `--created-by` ought to be user configurable.
 
- Created: 
  > combined date and time at which the image was created, formatted as defined by [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6).
- Created by: 
  > The command which created the layer.

@rhatdan, I'm 99% sure what you're asking for.  I think you want me to remove the created and created-by options from `buildah config` and then determine those values when the config happens and save it to the container.  I'll make that so, holler if I need to adjust.

Believe this would also close #537 

@TomSweeneyRedHat Yes on the first statement, but created and createdby should be populated on buildah commit, not no buildah config.

@taqtiqa-mark #537 isn't just the format the date is displayed in, the primary issue is that local timezone isn't being applied when the time is displayed to the user.

@pixdrift the created date shown in `buildah inspect` is in UTC.  However when we display the creation date of the image via `buildah images` we convert the time displayed by that command to the time of the machine that runs the command as determined by its locale.  We don't change the time inside the image itself though.

@TomSweeneyRedHat this is how I would expect it to work, but my ticket #537 shows that it is reporting the raw time off the container and not adjusting for my local time (AEST).

@pixdrift @TomSweeneyRedHat I think if the spec format was followed then the timezone decoration would explain the 10 hour difference. 

My view is to keep things a simple as possible ... so just stick with UTC throughout and format the time as the spec states.  Chopping and changing is problematic.
Also I think a buildah use case is that it will be used in scripted scenarios where you can't guarantee that data being passed around is being passed between two machines in the same TZ or even with the same locale settings. 



@taqtiqa-mark I am not suggesting that the date/time be anything other than UTC in the container. I was raising that the spec doesn't stipulate that UTC should be used for this date/time and the spec probably should define this _categorically_ because using RFC3339 (ISO8601 date/time), there is an 'option' to include the TZ date time in the date.

My issue in #537 is that the _displayed_  CREATED AT time in `buildah images` is showing the raw UTC time from the container, and not displaying in local time in the _user interface_. There is no suggestion that anything should be changed in the container configuration using UTC.

@pixdrift ack.  I'm arguing displayed data should be UTC too.  Humans are only one type of consumer of buildah output. Scripts are another important group.  It's much easier for a Human to recognize a UTC time than to write scripts and pipelines that coordinate/adjust time differences.

@taqtiqa-mark ack. I'd argue that `buildah images` primary consumer is humans. If you want to interface with the container attributes programatically you could use output from `buildah inspect`. I accept others may argue the counter.

In comparison `docker images` produces relative time which is also difficult to interpret eg.

> 3 weeks ago

I'll let @rhatdan chime in on what we should be displaying time wise.  But just to be totally clear, the times that we store for the containers and images are UTC times.  What we display is UTC time with the exception of the time displayed in the `buildah images` command which converts the time to locale time based on #537.  

@pixdrift I'm a little confused (it's late, so likely me) by  your reply above:  "but my ticket #537 shows that it is reporting the raw UTC time off the container and not adjusting for my local time (AEST which is UTC+10)."  #537 was for the image, not the container.  Is the latest Buildah (from GitHub, don't think we've spun a rpm with the fix yet) not showing that for you?  Is there a spot that the time for a container is being displayed that should be showing UTC in your opinion.

I believe #544 addresses #537, OK to close #53 now?

@TomSweeneyRedHat, my issue #537 is about display only, and is in `buildah images`, you're absolutely correct. I am commenting on it in this thread because it was suggested above that this issue would also close #537, but in my view they are unrelated.

I will follow up #537 in that issue and provide feedback.

@TomSweeneyRedHat, @taqtiqa-mark To summarise above, this proposal/suggestion looks good, my comments were in response to how it related to #537, which is now closed. Crisis over :smile:


How about buildah images does display in LocaleTime and buildah images --json returns in UTC.

Appreciate the proposal.
The std Linux approach is to pipe command output via cut etc. - keep simple things simple.  
I've tried parsing json through bash etc.  I don't think it is a solution here.
Ideally you shouldn't need more than what is in busy-box to consume buildah output.

May be a `--pipe` or `--pipe-output` option that produces delimited (un-percent-encoded output).  Trouble here is selecting a delimiter that is not part of the content defined in the spec.... may be `|` as a default?  Is <tab> part of the OCI spec content?

Anyway, this could be made robust by providing an option `--pipe-delimiter <char>`?
That way if someone encounters output with '|', etc. they can workaround it.

Agree all dates and times sent in response to `--pipe` should be UTC. 

How about if we check if the output is a tty, if yes, then it is converted, if not then it get UTC.  Although this might confuse certain users.  Perhaps we should add a flag to tell it to not convert.  

buildah --utc
buildah --noformat
?

@rhatdan, I tend t prefer explicit `--utc` over implicit `--noformat` which presumes the user knows what format the raw is. Even more explicit and self descriptive/documenting is `--utc-3339`.  If (when?) the spec changes, at least there won't be confusion about one parameter in legacy code ;) 

@pixdift, json issue yes, overly complex. I understand by using json the developers get some freedom, the tradeoff is that now buildah is one more tool's output for which busy-box isn't sufficient - note not all cases will `buildah --pipe` be piped. Stored in a file and passed along to be parsed (`cat pipe-file.txt|...`) is another another regular use case.

Thanks for your time, thought and effort.

@taqtiqa-mark, can you provide some examples of the buildah commands with proposed switches with proposed/expected output?

eg.
`buildah images --pipe`
`buildah images --pipe --utc`


Was interested in how this situation was handled in Docker, and it looks like the solution in Docker is to use the more generic `--format` parameter that is built in to present json output in a format that is easily parseable.
https://docs.docker.com/config/formatting/

When looking for `--format` in the other projectatomic utilities, I found this in the skopeo README.md.

> **NOT TODO**
>     provide a format flag - just use the awesome jq
> 

Should there be some discussion about how all the tools under projectatomic umbrella (ie. `buildah`, `podman`, `skopeo`) provide parseable output so that it is consistent? 



Refering to the configuration list in issue #591 [table](https://github.com/projectatomic/buildah/issues/591#issuecomment-381798779)

Ideal workflow would look like this, unless I missed something `buildah push...` doesn't return the container ID in a way that helps....
````bash
OCI_ID=$(buildah push ...)
OCI_CONFIG="$(buildah images --pipe --pipe-delimiter='|' |grep ${OCI_ID})"
IFS='|' read arch authors cmd description documentation remain1 <<< ${OCI_CONFIG}
IFS='|' read entrypoint env licenses os port ref_name remain2 <<< ${remain1}
IFS='|' read revision source title url user vendor remain3 <<< ${remain2}
IFS='|' read version volume workingdir <<< ${remain3}
````
The assumptions are the output is in alphabetical order of the `buildah-config` flags.  All flags have a default value if they are not set - even if it is empty strings or some placeholder.

Hope that helps?





````bash
OCI_CONFIG='amd_64|"Daniel Walsh, pixdrift"|"/bin/sh consul-entrypoint.sh"|"me oh <my@mailinator.com>"|http://www.google.com|1|@|3|&|'
IFS='|' read arch authors cmd description documentation remain1 <<< ${OCI_CONFIG}
echo $arch
echo $authors 
echo $cmd 
echo $description 
echo $documentation 
echo $remain1
````
Is that what you wanted?

@taqtiqa-mark I am interesting in what the output of this command would be. No parsing or interpretation, just what you would like to see printed to the console?
`buildah images --pipe --pipe-delimiter='|'`

My view is that the Unix Philosophy is absolutely supported in buildah's current form. You are referring to elements that you want to extract from the spec. The method provided to interrogate the spec of the container is `buildah inspect`. The output of `buildah inspect` is json, a format that is easily parsed by `jq`, which is a single program that does a single thing very well (parses json). jq is available on all Linux platforms i've worked on.

I don't fully understand the constraint of limiting to commands in `busybox`, can you provide some details on the kind of environment you're building containers in that only has busybox?




If I can make another point for jq. The jq solution is more robust than using positional parameters. Even if the output items are sorted alphabetically, if anything is added to the spec (even elements you don't utilise) the script will break. In `buildah inspect` + `jq`, you are referencing specific items by name that won't be impacted by additional elements/fields being added to the spec or command output.

I would think the format command would be best to satisfy your needs then you can format the output of buildah images any way you want.

Take a look at `podman images --format`  would similar functionality from buildah satisfy your needs?

@rhatdan and @pixdrift I've given the concrete use case.  
In 6 lines I show an image build and how `buildah-config` settings can be easily parsed into env variables using prexisting tools.  

(**For later readers** - the `buildah-push` and `buildah-inspect` behavior above is vapoware at the time of writing)

I'm not familiar with `jq` or `podman`.  Perhaps you can show how you envision the same results can be achieved using those approaches and then the choice will be clearer?


@taqtiqa-mark, I have provided the `--format` documentation for Docker in my above post, which describes its operation. What @rhatdan is proposing is a re-implementation of this capability in buildah as this capability has already been replicated in podman. To summarise it basically includes a json parsing/templating mechanism in the tool itself to remove the need for jq.

@taqtiqa-mark, As requested, example using jq in current config (random fields selected)
```
buildah inspect centos:7 | jq '.OCIv1.architecture+"|"+.OCIv1.os+"|"+.OCIv1.config.Cmd[]'
"amd64|linux|/bin/bash"
```

Thanks @pixdrift for taking the time to do that.  I appreciate we are all doing this in what would otherwise be family or recreation time.

A couple of observations.  
1. It'll be useful to show the full PoC you have in mind that would set the same suite of environment variables I gave in my use case. Ack `buildah` doesn't (yet?) support setting all that configuration data through `buildah config`.
1. You say the idea is to make the functionality/behavior possible available without `jq`.  Can you share how you think that will work/look - the example uses `jq`
1. It'll be useful if *all* a user needs to know to retrieve, say `os`, is that it was set via `buildah config --os=...`.  In the proposal to use json (even without `jq`) it seems I've now got to know in detail buildah's implementation of the spec.  Ideally I should not even have to know any spec detail.  When either the spec or the implementation of it changes, as they surely will, my scripts should not break so long as `os` is somehow still available in the same `N` series of buildah.

@pixdrift : Thanks.  Striving to keep things simple and avoid the need to consult docs etc.  Not easy to write intuitive software, I know. Esp when user base is so diverse. 

@pixdrift @taqtiqa-mark Lets add the format and see if we can satisfy your needs with that.  Should be simple to back port the changes from podman to buildah images.  @umohnani8 Could you look at that?

@rhatdan agreed, format to align with other tools would be a good solution.

I am not sure what we are missing now?  

```
buildah inspect --format '{{.OCIv1.Created}}' fedora-working-container 
2018-03-07 20:51:34.488688562 +0000 UTC
```

If you want it in namevalue pairs

```
buildah inspect --format 'created="{{.OCIv1.Created}}"' fedora-working-container 
created="2018-03-07 20:51:34.488688562 +0000 UTC"
```


@rhatdan, this is for @taqtiqa-mark to answer I think.

@rhatdan add `--format` to buildah inspect only or to images as well?

@umohnani8 We have it now I believe.